<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aos.handling.HandlingMapper">
    <resultMap id="handlingResultMap" type="com.aos.handling.Handling">
        <result column="NO" property="no" />
        <result column="INGREDIENT_NO" property="ingredientNo" />
        <result column="SUPPLIER_NO" property="supplierNo" />
        <result column="STATUS" property="status" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="ingredientNo != null and ingredientNo != ''">
                AND INGREDIENT_NO = #{ingredientNo}
            </if>
            <if test="supplierNo != null and supplierNo != ''">
                AND SUPPLIER_NO = #{supplierNo}
            </if>
            <if test="status != null and status != ''">
                AND STATUS = #{status}
            </if>
        </where>
    </sql>

    <select id="list" parameterType="com.aos.handling.Handling" resultMap="handlingResultMap">
        SELECT
            NO,
            INGREDIENT_NO,
            SUPPLIER_NO,
            STATUS
        FROM handling
            <include refid="whereSql" />
        
    </select>

    <select id="select" parameterType="com.aos.handling.Handling" resultMap="handlingResultMap">
        SELECT
            NO,
            INGREDIENT_NO,
            SUPPLIER_NO,
            STATUS
        FROM handling
        <include refid="whereSql" />
    </select>

    <insert id="insert" parameterType="com.aos.handling.Handling">
        INSERT INTO handling (
            INGREDIENT_NO,
            SUPPLIER_NO,
            STATUS
        ) VALUES (
            #{ingredientNo},
            #{supplierNo},
            #{status}
        )
    </insert>

    <update id="update" parameterType="com.aos.handling.Handling">
        UPDATE handling
        <set>
            <if test="no != ''">
                NO = #{no},
            </if>
            <if test="ingredientNo != ''">
                INGREDIENT_NO = #{ingredientNo},
            </if>
            <if test="supplierNo != ''">
                SUPPLIER_NO = #{supplierNo},
            </if>
            <if test="status != ''">
                STATUS = #{status},
            </if>
        </set>
    </update>
    
    <update id="updatebyNo" parameterType="com.aos.handling.Handling">
        UPDATE handling
        <set>
            
            <if test="status != ''">
                STATUS = #{status},
            </if>
        </set>
        WHERE INGREDIENT_NO = #{ingredientNo}
        AND SUPPLIER_NO = #{supplierNo}
    </update>

    <delete id="delete" parameterType="com.aos.handling.Handling">
        DELETE FROM handling
        <include refid="whereSql" />
    </delete>
</mapper>